{{ configuration_header }}

{% for key,value in sshd.config|dictsort %}
{{ key }} {{ value }}
{% endfor %}

{% for key_type in sshd.key_types|sort %}
HostKey /var/ssh/ssh_host_{{ key_type }}_key
{% endfor %}

{% for match,parameters in sshd.match|default({})|dictsort %}
Match {{ match }}
{% for key,value in parameters|dictsort %}
	{{ key }} {{ value }}
{% endfor %}
{% endfor %}
