{{ configuration_header }}

# Complete documentation is available at the following URL:
# https://mariadb.com/kb/en/configuring-mariadb-with-option-files/

{% for key,options in (default_mysql|combine(mysql, recursive=True)).config|dictsort %}
[{{ key }}]
{% for option_key,option_value in options|dictsort %}
{% if option_value is none %}
{{ option_key }}
{% else %}
{{ option_key }} = {{ option_value }}
{% endif %}
{% endfor %}

{% endfor %}
